<h4>Internal server error - refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this then angular is probably not to blame</p>
    <p>What to do next?</p>
    <ol>
        <li>Open the chrome dev tools and check failing request the network tab.</li>
        <li>Examine the request URL - what API endpoit are uou requesting</li>
        <li>Reproduce the problem in Postman </li>
    </ol>
    <p style="font-weight: bold;">Following is the stacktrace</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>